@model CoinFill.ViewModels.ForgotPasswordViewModel
@using CoinFill.Helpers.Extensions
@{
    ViewData.SetTitle("Forgot password");
    ViewData.SetMetaDescription("Reset your forgotten password through email.");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section StyleSheets {
    <link rel="stylesheet" href="~/css/btn-send-paper-plane.css" />
}

<div class="row flex-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
        <div class="card">
            <div class="card-body p-4 p-sm-5">
                <img class="d-block mx-auto mb-4 avatar-4xl" src="~/images/static/assets/reset-password.png" alt="Reset password" />
                <h4 class="mb-3 text-center text-primary">Forgot your password?</h4>
                <p class="text-center">Enter your email address, and we will send you an email with a link to reset your password.</p>
                <form id="forgot-password-form" autocomplete="off">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fal fa-envelope fa-fw"></i></span>
                            </div>
                            <input asp-for="Email"
                                   class="form-control mr-2"
                                   style="border-top-right-radius: 0.5rem !important; border-bottom-right-radius: 0.5rem !important;" />
                            <span class="input-group-btn">
                                <button type="button" class="button">
                                    <span class="default">Send email</span>
                                    <span class="success text-secondary"><i class="fas fa-check text-success mr-2 no-tick"></i>Sent</span>
                                    <div class="left"></div>
                                    <div class="right"></div>
                                </button>
                            </span>
                        </div>
                        <span asp-validation-for="Email" class="invalid-feedback"></span>
                    </div>
                </form>
                <p class="text-center mb-0">
                    <small>
                        <i class="far fa-info-circle text-info mr-2"></i>After you click the 'Send Email' button, open the email we sent you and click on the link in it. If you don't see the email in your inbox, check the spam folder.
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/gsap.min.js"></script>
    <script>
        var resetPasswordUrl = '@Url.Action("SendResetPasswordLink", "Authorization")';
    </script>
    <script src="~/js/send-password-reset-link.js"></script>
}