@using CoinFill.Helpers.Extensions
@{
    ViewData.SetTitle("About Us");
    ViewData.SetMetaDescription("CoinFill is an innovative startup based in the Switzerland. We are on a mission to redefine your crypto journey.");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section StyleSheets {
    <style>
        :root {
            --transition: 0.25s;
            --spark: 1.8s;
        }

        rev-crypto {
            font-weight: 900;
            background-image: linear-gradient( 109.6deg, rgba(48,207,208,1) 42.2%, rgba(51,8,103,1) 96.5% );
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            -webkit-text-fill-color: transparent;
            filter: brightness(1.85);
        }

        .rev-crypto {
            background: linear-gradient( 109.6deg, rgba(48,207,208,1) 11.2%, rgba(107,34,252,1) 92.5% );
            background-size: 200% auto;
            color: #000;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine-text 4s linear infinite;
        }

        @@keyframes shine-text {
            to {
                background-position: -200% center;
            }
        }

        .svg-spark {
            width: 1.2rem;
            height: 1.5rem;
            overflow: hidden !important;
            visibility: visible;
        }

        .sparkle-spark path {
            color: hsl(0 0% calc((var(--active, 0) * 70%) + var(--base)));
            transform-box: fill-box;
            transform-origin: center;
            fill: #6b22fc;
            stroke: #6b22fc;
            animation-delay: calc((var(--transition) * 1.5) + (var(--delay) * 1s));
            animation-duration: 0.7s;
            animation-iteration-count: infinite;
            transition: color var(--transition);
            animation-name: bounce-spark;
        }

        @@keyframes bounce-spark {
            35%, 65% {
                scale: var(--scale);
            }
        }

        .sparkle-spark path:nth-of-type(1) {
            --scale: 0.5;
            --delay: 0.1;
            --base: 40%;
        }

        .sparkle-spark path:nth-of-type(2) {
            --scale: 1.5;
            --delay: 0.2;
            --base: 20%;
        }

        .sparkle-spark path:nth-of-type(3) {
            --scale: 2.5;
            --delay: 0.35;
            --base: 30%;
        }
    </style>
}

<h1 class="text-black text-center my-5">
    <span class="d-flex flex-center">
        <span class="">
            <svg class="sparkle-spark svg-spark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.187 8.096L15 5.25L15.813 8.096C16.0231 8.83114 16.4171 9.50062 16.9577 10.0413C17.4984 10.5819 18.1679 10.9759 18.903 11.186L21.75 12L18.904 12.813C18.1689 13.0231 17.4994 13.4171 16.9587 13.9577C16.4181 14.4984 16.0241 15.1679 15.814 15.903L15 18.75L14.187 15.904C13.9769 15.1689 13.5829 14.4994 13.0423 13.9587C12.5016 13.4181 11.8321 13.0241 11.097 12.814L8.25 12L11.096 11.187C11.8311 10.9769 12.5006 10.5829 13.0413 10.0423C13.5819 9.50162 13.9759 8.83214 14.186 8.097L14.187 8.096Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6 14.25L5.741 15.285C5.59267 15.8785 5.28579 16.4206 4.85319 16.8532C4.42059 17.2858 3.87853 17.5927 3.285 17.741L2.25 18L3.285 18.259C3.87853 18.4073 4.42059 18.7142 4.85319 19.1468C5.28579 19.5794 5.59267 20.1215 5.741 20.715L6 21.75L6.259 20.715C6.40725 20.1216 6.71398 19.5796 7.14639 19.147C7.5788 18.7144 8.12065 18.4075 8.714 18.259L9.75 18L8.714 17.741C8.12065 17.5925 7.5788 17.2856 7.14639 16.853C6.71398 16.4204 6.40725 15.8784 6.259 15.285L6 14.25Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6.5 4L6.303 4.5915C6.24777 4.75718 6.15472 4.90774 6.03123 5.03123C5.90774 5.15472 5.75718 5.24777 5.5915 5.303L5 5.5L5.5915 5.697C5.75718 5.75223 5.90774 5.84528 6.03123 5.96877C6.15472 6.09226 6.24777 6.24282 6.303 6.4085L6.5 7L6.697 6.4085C6.75223 6.24282 6.84528 6.09226 6.96877 5.96877C7.09226 5.84528 7.24282 5.75223 7.4085 5.697L8 5.5L7.4085 5.303C7.24282 5.24777 7.09226 5.15472 6.96877 5.03123C6.84528 4.90774 6.75223 4.75718 6.697 4.5915L6.5 4Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </span>
        <span class="rev-crypto mx-2">
            Revolutionizing Your Crypto Experience
        </span>
        <span class="">
            <svg class="sparkle-spark svg-spark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.187 8.096L15 5.25L15.813 8.096C16.0231 8.83114 16.4171 9.50062 16.9577 10.0413C17.4984 10.5819 18.1679 10.9759 18.903 11.186L21.75 12L18.904 12.813C18.1689 13.0231 17.4994 13.4171 16.9587 13.9577C16.4181 14.4984 16.0241 15.1679 15.814 15.903L15 18.75L14.187 15.904C13.9769 15.1689 13.5829 14.4994 13.0423 13.9587C12.5016 13.4181 11.8321 13.0241 11.097 12.814L8.25 12L11.096 11.187C11.8311 10.9769 12.5006 10.5829 13.0413 10.0423C13.5819 9.50162 13.9759 8.83214 14.186 8.097L14.187 8.096Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6 14.25L5.741 15.285C5.59267 15.8785 5.28579 16.4206 4.85319 16.8532C4.42059 17.2858 3.87853 17.5927 3.285 17.741L2.25 18L3.285 18.259C3.87853 18.4073 4.42059 18.7142 4.85319 19.1468C5.28579 19.5794 5.59267 20.1215 5.741 20.715L6 21.75L6.259 20.715C6.40725 20.1216 6.71398 19.5796 7.14639 19.147C7.5788 18.7144 8.12065 18.4075 8.714 18.259L9.75 18L8.714 17.741C8.12065 17.5925 7.5788 17.2856 7.14639 16.853C6.71398 16.4204 6.40725 15.8784 6.259 15.285L6 14.25Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M6.5 4L6.303 4.5915C6.24777 4.75718 6.15472 4.90774 6.03123 5.03123C5.90774 5.15472 5.75718 5.24777 5.5915 5.303L5 5.5L5.5915 5.697C5.75718 5.75223 5.90774 5.84528 6.03123 5.96877C6.15472 6.09226 6.24777 6.24282 6.303 6.4085L6.5 7L6.697 6.4085C6.75223 6.24282 6.84528 6.09226 6.96877 5.96877C7.09226 5.84528 7.24282 5.75223 7.4085 5.697L8 5.5L7.4085 5.303C7.24282 5.24777 7.09226 5.15472 6.96877 5.03123C6.84528 4.90774 6.75223 4.75718 6.697 4.5915L6.5 4Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </span>
    </span>
</h1>
<p class="text-black px-4 mb-5">
    Welcome to CoinFill, where the future of cryptocurrencies meets unparalleled innovation.
    As a innovative startup based in the Switzerland, we are on a mission to redefine your
    crypto journey. At CoinFill, we don't just offer services; we provide a gateway to a new era of financial possibilities.
</p>
<h3 class="mb-3">
    <svg class="sparkle-spark svg-spark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.187 8.096L15 5.25L15.813 8.096C16.0231 8.83114 16.4171 9.50062 16.9577 10.0413C17.4984 10.5819 18.1679 10.9759 18.903 11.186L21.75 12L18.904 12.813C18.1689 13.0231 17.4994 13.4171 16.9587 13.9577C16.4181 14.4984 16.0241 15.1679 15.814 15.903L15 18.75L14.187 15.904C13.9769 15.1689 13.5829 14.4994 13.0423 13.9587C12.5016 13.4181 11.8321 13.0241 11.097 12.814L8.25 12L11.096 11.187C11.8311 10.9769 12.5006 10.5829 13.0413 10.0423C13.5819 9.50162 13.9759 8.83214 14.186 8.097L14.187 8.096Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6 14.25L5.741 15.285C5.59267 15.8785 5.28579 16.4206 4.85319 16.8532C4.42059 17.2858 3.87853 17.5927 3.285 17.741L2.25 18L3.285 18.259C3.87853 18.4073 4.42059 18.7142 4.85319 19.1468C5.28579 19.5794 5.59267 20.1215 5.741 20.715L6 21.75L6.259 20.715C6.40725 20.1216 6.71398 19.5796 7.14639 19.147C7.5788 18.7144 8.12065 18.4075 8.714 18.259L9.75 18L8.714 17.741C8.12065 17.5925 7.5788 17.2856 7.14639 16.853C6.71398 16.4204 6.40725 15.8784 6.259 15.285L6 14.25Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6.5 4L6.303 4.5915C6.24777 4.75718 6.15472 4.90774 6.03123 5.03123C5.90774 5.15472 5.75718 5.24777 5.5915 5.303L5 5.5L5.5915 5.697C5.75718 5.75223 5.90774 5.84528 6.03123 5.96877C6.15472 6.09226 6.24777 6.24282 6.303 6.4085L6.5 7L6.697 6.4085C6.75223 6.24282 6.84528 6.09226 6.96877 5.96877C7.09226 5.84528 7.24282 5.75223 7.4085 5.697L8 5.5L7.4085 5.303C7.24282 5.24777 7.09226 5.15472 6.96877 5.03123C6.84528 4.90774 6.75223 4.75718 6.697 4.5915L6.5 4Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <span style="color: #6b22fc !important;">Our Vision</span>
</h3>
<p class="text-black pl-4 mb-5">
    Imagine a world where your crypto works for you, effortlessly growing and seamlessly
    integrating with your everyday life. At CoinFill, we envision a future where the power
    of cryptocurrencies empowers individuals to achieve financial freedom.
</p>
<h3 class="mb-3">
    <svg class="sparkle-spark svg-spark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.187 8.096L15 5.25L15.813 8.096C16.0231 8.83114 16.4171 9.50062 16.9577 10.0413C17.4984 10.5819 18.1679 10.9759 18.903 11.186L21.75 12L18.904 12.813C18.1689 13.0231 17.4994 13.4171 16.9587 13.9577C16.4181 14.4984 16.0241 15.1679 15.814 15.903L15 18.75L14.187 15.904C13.9769 15.1689 13.5829 14.4994 13.0423 13.9587C12.5016 13.4181 11.8321 13.0241 11.097 12.814L8.25 12L11.096 11.187C11.8311 10.9769 12.5006 10.5829 13.0413 10.0423C13.5819 9.50162 13.9759 8.83214 14.186 8.097L14.187 8.096Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6 14.25L5.741 15.285C5.59267 15.8785 5.28579 16.4206 4.85319 16.8532C4.42059 17.2858 3.87853 17.5927 3.285 17.741L2.25 18L3.285 18.259C3.87853 18.4073 4.42059 18.7142 4.85319 19.1468C5.28579 19.5794 5.59267 20.1215 5.741 20.715L6 21.75L6.259 20.715C6.40725 20.1216 6.71398 19.5796 7.14639 19.147C7.5788 18.7144 8.12065 18.4075 8.714 18.259L9.75 18L8.714 17.741C8.12065 17.5925 7.5788 17.2856 7.14639 16.853C6.71398 16.4204 6.40725 15.8784 6.259 15.285L6 14.25Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6.5 4L6.303 4.5915C6.24777 4.75718 6.15472 4.90774 6.03123 5.03123C5.90774 5.15472 5.75718 5.24777 5.5915 5.303L5 5.5L5.5915 5.697C5.75718 5.75223 5.90774 5.84528 6.03123 5.96877C6.15472 6.09226 6.24777 6.24282 6.303 6.4085L6.5 7L6.697 6.4085C6.75223 6.24282 6.84528 6.09226 6.96877 5.96877C7.09226 5.84528 7.24282 5.75223 7.4085 5.697L8 5.5L7.4085 5.303C7.24282 5.24777 7.09226 5.15472 6.96877 5.03123C6.84528 4.90774 6.75223 4.75718 6.697 4.5915L6.5 4Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <span style="color: #6b22fc !important;">Who We Are</span>
</h3>
<p class="text-black pl-4 mb-5">
    CoinFill is not just a platform; it's a community driven by a passion for innovation,
    security, and user-centric design. Our team of experts, with a wealth of experience in
    both fintech and blockchain technology, is dedicated to bringing you a suite of services
    that will transform the way you interact with cryptocurrencies.
</p>
<h3 class="mb-3">
    <svg class="sparkle-spark svg-spark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.187 8.096L15 5.25L15.813 8.096C16.0231 8.83114 16.4171 9.50062 16.9577 10.0413C17.4984 10.5819 18.1679 10.9759 18.903 11.186L21.75 12L18.904 12.813C18.1689 13.0231 17.4994 13.4171 16.9587 13.9577C16.4181 14.4984 16.0241 15.1679 15.814 15.903L15 18.75L14.187 15.904C13.9769 15.1689 13.5829 14.4994 13.0423 13.9587C12.5016 13.4181 11.8321 13.0241 11.097 12.814L8.25 12L11.096 11.187C11.8311 10.9769 12.5006 10.5829 13.0413 10.0423C13.5819 9.50162 13.9759 8.83214 14.186 8.097L14.187 8.096Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6 14.25L5.741 15.285C5.59267 15.8785 5.28579 16.4206 4.85319 16.8532C4.42059 17.2858 3.87853 17.5927 3.285 17.741L2.25 18L3.285 18.259C3.87853 18.4073 4.42059 18.7142 4.85319 19.1468C5.28579 19.5794 5.59267 20.1215 5.741 20.715L6 21.75L6.259 20.715C6.40725 20.1216 6.71398 19.5796 7.14639 19.147C7.5788 18.7144 8.12065 18.4075 8.714 18.259L9.75 18L8.714 17.741C8.12065 17.5925 7.5788 17.2856 7.14639 16.853C6.71398 16.4204 6.40725 15.8784 6.259 15.285L6 14.25Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6.5 4L6.303 4.5915C6.24777 4.75718 6.15472 4.90774 6.03123 5.03123C5.90774 5.15472 5.75718 5.24777 5.5915 5.303L5 5.5L5.5915 5.697C5.75718 5.75223 5.90774 5.84528 6.03123 5.96877C6.15472 6.09226 6.24777 6.24282 6.303 6.4085L6.5 7L6.697 6.4085C6.75223 6.24282 6.84528 6.09226 6.96877 5.96877C7.09226 5.84528 7.24282 5.75223 7.4085 5.697L8 5.5L7.4085 5.303C7.24282 5.24777 7.09226 5.15472 6.96877 5.03123C6.84528 4.90774 6.75223 4.75718 6.697 4.5915L6.5 4Z" fill="#6b22fc" stroke="#6b22fc" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <span style="color: #6b22fc !important;">What Sets Us Apart</span>
</h3>
<p class="text-black pl-4">
    <strong>High APY Staking:</strong> Unlock the full potential of your crypto assets with
    our high-yield staking solutions. CoinFill offers a secure and lucrative environment
    for you to stake your digital assets, earning impressive Annual Percentage Yields (APY)
    that outpace traditional investment options.
</p>
<p class="text-black pl-4">
    <strong>Crypto Cards for Everyday Use:</strong> Seamlessly bridge the gap between the
    crypto world and your daily transactions. Our crypto cards enable you to spend your
    digital assets at any merchant that accepts traditional payment methods, making your
    crypto holdings as accessible as your regular bank account.
</p>
<p class="text-black pl-4">
    <strong>Instant Crypto to Bank Transfers:</strong> Need to convert your crypto gains
    into traditional currency? CoinFill provides lightning-fast transfers to your bank
    account, ensuring you can enjoy your profits in the real world without any hassle.
</p>
<p class="text-black pl-4 mb-5">
    <strong>Instant Crypto to PayPal Transfers:</strong> Connect your crypto holdings
    with the convenience of PayPal. CoinFill allows you to effortlessly transfer your
    digital assets to your PayPal account, providing you with additional flexibility and liquidity.
</p>
<div class="alert alert-info text-center mb-0 ml-4" role="alert">
    Have questions? <a asp-controller="Home" asp-action="ContactUs" target="_blank" class="text-decoration-none">Contact us</a>.
</div>