@using CoinFill.Helpers.Extensions
@{
    ViewData.SetTitle("Privacy Policy");
    ViewData.SetMetaDescription("This privacy notice for CoinFill describes how and why we might collect and use your information when you use our services.");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card pt-1 mb-3">
    <div class="card-header pb-0">
        <h4 class="text-center mb-0 text-primary">Privacy Policy</h4>
    </div>
    <div class="card-body">
        <p class="mb-0">
            This privacy notice for CoinFill ("<strong>we</strong>," "<strong>us</strong>," or "<strong>our</strong>"),
            describes how and why we might collect and use ("<strong>process</strong>") your
            information when you use our services ("<strong>Services</strong>"), such as when you:
        </p>
        <ul>
            <li class="mt-3">Visit our website at <a href="https://coinfill.io" target="_blank">https://coinfill.io</a>, or any website of ours that links to this privacy notice</li>
            <li>Engage with us in other related ways, including any sales, marketing, or events</li>
        </ul>
        <strong>Questions or concerns?&nbsp;</strong>Reading this privacy notice will help you understand your privacy rights and choices. If you do not agree with our policies and practices, please do not use our Services. If you still have any questions or concerns, please contact us at <a href="mailto:office@@coinfill.io">office@@coinfill.io</a>.
    </div>
</div>
<div class="card mb-3">
    <div class="card-header bg-light">
        <h5 class="mb-0" id="account">Summary of Key Points</h5>
    </div>
    <div class="card-body">
        <p class="mb-0">
            <strong><em>This summary provides key points from our privacy notice.</em></strong>
        </p>
        <hr class="my-4" />
        <p>
            <strong>What personal information do we process?</strong> When you visit, use, or navigate our Services, we may process personal information depending on how you interact with us and the Services, the choices you make, and the products and features you use.
        </p>
        <p>
            <strong>Do we process any sensitive personal information?</strong> We do not process sensitive personal information.
        </p>
        <p>
            <strong>Do we receive any information from third parties?</strong> We do not receive any information from third parties.
        </p>
        <p>
            <strong>How do we process your information?</strong> We process your information to provide, improve, and administer our Services, communicate with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your consent. We process your information only when we have a valid legal reason to do so.
        </p>
        <p>
            <strong>In what situations and with which parties do we share personal information?</strong> We may share information in specific situations and with specific third parties.
        </p>
        <p>
            <strong>How do we keep your information safe?</strong> We have organizational and technical processes and procedures in place to protect your personal information. However, no electronic transmission over the internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorized third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information.
        </p>
        <p>
            <strong>What are your rights?</strong> Depending on where you are located geographically, the applicable privacy law may mean you have certain rights regarding your personal information.
        </p>
        <p>
            <strong>How do you exercise your rights?</strong> The easiest way to exercise your rights is by contacting us. We will consider and act upon any request in accordance with applicable data protection laws.
        </p>
        <p>
            Want to learn more about what we do with any information we collect? Review the privacy notice in full.
        </p>
        <hr class="my-4" />
        <h6 class="text-primary">1. What information do we collect?</h6>
        <p>
            Personal Information Provided by You. The personal information that we collect depends on the context of your interactions with us and the Services, the choices you make, and the products and features you use. The personal information we collect may include the following:
        </p>
        <ul>
            <li class="mt-3">email</li>
            <li>password</li>
            <li>full name (or nickname)</li>
        </ul>
        <p>
            <strong>Sensitive Information.</strong> We do not process sensitive information.
        </p>
        <hr class="my-4" />
        <h6 class="text-primary">2. How do we process your information?</h6>
        <p>
            We process your personal information for a variety of reasons, depending on how you interact with our Services, including:
        </p>
        <ul>
            <li class="mt-3">To facilitate account creation and authentication and otherwise manage user accounts. We may process your information so you can create and log in to your account, as well as keep your account in working order.</li>
            <li>To save or protect an individual's vital interest. We may process your information when necessary to save or protect an individual’s vital interest, such as to prevent harm.</li>
        </ul>
        <hr class="my-4" />
        <h6 class="text-primary">3. With whom do we share your personal information</h6>
        <p>
            We may need to share your personal information in the following situations:
        </p>
        <ul>
            <li class="mt-3">
                <strong>Business Transfers.</strong> We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.
            </li>
            <li>
                <strong>When we use Google Analytics.</strong> We may share your information with Google Analytics to analyze the use of the Services. The Google Analytics Advertising Features that we may use include: Google Analytics Demographics and Interests Reporting. You can opt out of Google Analytics Advertising Features through Ads Settings and Ad Settings for mobile apps. For more information on the privacy practices of Google, please visit the Google Privacy & Terms page.
            </li>
        </ul>
        <hr class="my-4" />
        <h6 class="text-primary">4. How long do we keep your information?</h6>
        <p>
            We keep your information for as long as necessary to fulfill the purposes outlined in this privacy notice unless otherwise required by law.
        </p>
        <hr class="my-4" />
        <h6 class="text-primary">5. How do we keep your information safe?</h6>
        <p>
            We have implemented appropriate and reasonable technical and organizational security measures designed to protect the security of any personal information we process. However, despite our safeguards and efforts to secure your information, no electronic transmission over the Internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorized third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information. Although we will do our best to protect your personal information, transmission of personal information to and from our Services is at your own risk. You should only access the Services within a secure environment.
        </p>
        <hr class="my-4" />
        <h6 class="text-primary">6. What are your privacy rights?</h6>
        <p>
            In some regions (like the EEA, UK, and Switzerland), you have certain rights under applicable data protection laws. These may include the right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict the processing of your personal information; (iv) if applicable, to data portability; and (v) not to be subject to automated decision-making. In certain circumstances, you may also have the right to object to the processing of your personal information.
        </p>
        <p>
            We will consider and act upon any request in accordance with applicable data protection laws.
        </p>
        <p>
            If you are located in the EEA or UK and you believe we are unlawfully processing your personal information, you also have the right to complain to your Member State data protection authority or UK data protection authority.
        </p>
        <p>
            If you are located in Switzerland, you may contact the Federal Data Protection and Information Commissioner.
        </p>
        <p>
            Withdrawing your consent: If we are relying on your consent to process your personal information, you have the right to withdraw your consent at any time. You can withdraw your consent at any time by contacting us.
        </p>
        <p>
            If you would at any time like to review or change the information in your account or terminate your account, you can:
        </p>
        <ul>
            <li class="mt-3">Contact us using the contact information provided.</li>
            <li>Log in to your account settings and update your user account.</li>
        </ul>
        <p>
            Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, we may retain some information in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our legal terms and/or comply with applicable legal requirements.
        </p>
        <p>
            If you have questions or comments about your privacy rights, you may email us at <a href="mailto:office@@coinfill.io">office@@coinfill.io</a>.
        </p>
        <hr class="my-4" />
        <h6 class="text-primary">7. Do we make updates to this notice?</h6>
        <p>
            We may update this privacy notice from time to time. The updated version will be indicated by an updated "Revised" date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy notice frequently to be informed of how we are protecting your information.
        </p>
        <span id="additional"></span>
        <hr class="my-4" />
        <h6 class="text-primary">How can you contact us about this notice?</h6>
        <p>
            If you have questions or comments about this notice, you may email us at <a href="mailto:office@@coinfill.io">office@@coinfill.io</a> or contact us by post at:
            <br />
            <br />
            CoinFill<br />
            Friedliweg 22<br />
            Bern 8406<br />
            Switzerland
        </p>
    </div>
</div>

@section Scripts {
    <script src="~/js/privacy.js"></script>
    <script>
        $(document).ready(function () {
            $('main[role="main"]').removeClass('pb-3');
        })
    </script>
}