@model CoinFill.ViewModels.BankAccountTypes.AddBankAccountIrr
@using CoinFill.Helpers.Extensions

<div id="irr-bank-modal"
     data-toggle="modal"
     class="modal fade p-0"
     data-keyboard="false"
     data-backdrop="static"
     tabindex="-1"
     role="dialog"
     aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border">
            <div class="modal-header border-bottom-0 pb-0">
                <h5 class="modal-title text-center mx-auto">Enter your bank information</h5>
                <button id="irr-bank-times" type="button" class="btn-close-irr-modal close m-0 p-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fal fa-times fa-xs"></span>
                </button>
            </div>
            <div class="modal-body pt-4 px-4 px-sm-5">
                <form id="irr-form" autocomplete="on">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-12 text-center mb-4">
                            <i class="fas fa-university text-secondary fa-3x mr-n2"></i>
                            <img src="~/images/static/bank-currencies/IRR.svg" width="24" height="24" alt="IRR" class="ml-n3 rounded-circle" />
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="IrrAccountHolderFirstName"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fal fa-user"></i></span>
                                    </div>
                                    <input asp-for="IrrAccountHolderFirstName" class="form-control" />
                                </div>
                                <span asp-validation-for="IrrAccountHolderFirstName" class="invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="IrrAccountHolderLastName"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fal fa-user"></i></span>
                                    </div>
                                    <input asp-for="IrrAccountHolderLastName" class="form-control" />
                                </div>
                                <span asp-validation-for="IrrAccountHolderLastName" class="invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="w-100 position-relative mt-4">
                                <hr class="text-300" />
                                <div class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">
                                    IRR Card Information
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="IrrIBAN"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fal fa-university"></i></span>
                                    </div>
                                    <input asp-for="IrrIBAN" class="form-control" />
                                </div>
                                <span asp-validation-for="IrrIBAN" class="invalid-feedback"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer pt-0 border-top-0 pb-4 px-4 pb-sm-5 px-sm-5">
                <button id="btn-save-irr-bank" class="btn btn-primary btn-block m-0 mb-3">
                    <span>Save bank account</span>
                </button>
                <button id="btn-cancel-irr-bank" class="btn-close-irr-modal btn btn-falcon-secondary btn-block m-0">
                    Back
                </button>
            </div>
        </div>
    </div>
</div>

@Html.PartialSectionScripts(
    @<script>
        $(document).ready(function () {
            let irrFirstName = $('#IrrAccountHolderFirstName');
            let irrLastName = $('#IrrAccountHolderLastName');
            let irrIban = $('#IrrIBAN');

            let btnSaveIrr = $('#btn-save-irr-bank');
            let btnSaveIrrText = btnSaveIrr.find('span');
            let btnSaveIrrTextUnchanged = btnSaveIrrText.html();

            const irrTimes = $('#irr-bank-times');
            const irrCancel = $('#btn-cancel-irr-bank');

            const irrForm = $('#irr-form');
            const irrBankModal = $('#irr-bank-modal');

            btnSaveIrr.click(function () {
                DisableIrrInputs();

                const width = $(this).width();
                const height = $(this).height();
                btnSaveIrrText.fadeOut('fast', function () {
                    $(this).html('<div class="spinner mx-auto"></div>').fadeIn('slow');
                    btnSaveIrr.width(width);
                    btnSaveIrr.height(height);
                });

                setTimeout(function () {
                    if (IrrFormIsValid()) {
                        let formData = new FormData(irrForm.get(0));
                        formData.append('irrAccount.IrrAccountHolderFirstName', irrFirstName.val());
                        formData.append('irrAccount.IrrAccountHolderLastName', irrLastName.val());
                        formData.append('irrAccount.IrrAccountCurrency', 'IRR');
                        formData.append('irrAccount.IrrIBAN', irrIban.val());

                        $.ajax({
                            url: '@Url.Action("AddIrrBankAccount", "Banks", new { Area = "" })',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            headers: {
                                'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                            },
                            success: function (response) {
                                if (response.success === true) {
                                    btnSaveIrrText.fadeOut('fast', function () {
                                        $(this).html('<i class="ca-lightgreen fas fa-check no-tick"></i>').fadeIn('slow', function () {
                                            setTimeout(function () {
                                                irrBankModal.modal('hide');
                                                EnableIrrInputs();
                                                btnSaveIrrText.html(btnSaveIrrTextUnchanged);

                                                let requiredIrrBankInfo = '<div class="text-left">' +
                                                    `Card Number:<br> ${response.bank.cardAccountNumber}` +
                                                    '</div>' +
                                                    `<button data-send-to-bank="${response.bank.id}" class="btn btn-soft-info btn-block mt-auto">` +
                                                    '<span>&nbsp;Deposit cryptocurrencies&nbsp;</span>' +
                                                    '</button>';

                                                let newIrrBankBody = '<div class="d-flex justify-content-center col-12 col-md-6 col-xl-4 text-center mb-3">' +
                                                    '<div class="card card-span" style="width: 24rem; min-width: 22rem; height: 16rem; border-radius: 0.75rem !important;">' +
                                                    '<div class="card-body d-flex flex-column">' +
                                                    '<div class="card-img-top mb-3 d-flex justify-content-start">' +
                                                    '<div class="d-flex flex-center text-center p-2 rounded-soft" style="width: 4.7rem !important; height: 4.6rem !important; background-color: #d8e2ef;">' +
                                                    '<i class="fas fa-university fa-fw fa-3x align-middle mb-1" style="color: var(--secondary); margin-right: 0.35rem;"></i>' +
                                                    `<span style="background-image: url('/images/static/bank-currencies/${response.bank.currency}.svg')" class="img-currency ml-n4 mt-4"></span>` +
                                                    '</div>' +
                                                    '<span class="ml-3 text-left">' +
                                                    '<span class="font-weight-semi-bold text-black">' +
                                                    `${response.bank.currency} ${response.bank.accountType}` +
                                                    '</span>' +
                                                    '<br>' +
                                                    '<span class="fs--1">' +
                                                    `${response.bank.idLabel} ID: ${response.bank.id}` +
                                                    '</span>' +
                                                    '<br>' +
                                                    '<span class="fs--1">' +
                                                    `Deposit fee: ${response.bank.fee}%` +
                                                    '</span>' +
                                                    '</span>' +
                                                    '<div class="ml-auto">' +
                                                    '<span class="badge badge-soft-success">' +
                                                    '<i class="fas fa-check-circle mr-1"></i>Active' +
                                                    '</span>' +
                                                    '</div>' +
                                                    '</div>' +
                                                    '<div class="text-left text-black">' +
                                                    `${response.bank.firstName} ${response.bank.lastName}` +
                                                    '</div>' +
                                                    requiredIrrBankInfo +
                                                    '</div>' +
                                                    '</div>' +
                                                    '</div>';

                                                const addBankCol = $('#add-bank-col');
                                                addBankCol.removeClass();
                                                addBankCol.addClass('d-flex justify-content-center col-12 col-md-6 col-xl-4 mb-3');

                                                $(newIrrBankBody).insertBefore('#add-bank-col');

                                                $(`button[data-send-to-bank="${response.bank.id}"]`).click(function () {
                                                    FuncConfirmBankDeposit($(this));
                                                })

                                                Swal.fire({
                                                    title: response.title,
                                                    text: response.body,
                                                    icon: response.severity,
                                                    confirmButtonColor: '#00d27a',
                                                    confirmButtonText: 'Alright'
                                                });
                                            }, 600)
                                        })
                                    })
                                } else {
                                    if (response.redirectUrl) window.location.href = response.redirectUrl;
                                    else HandleIrrBankError(response.title, response.body, response.severity);
                                }
                            },
                            error: function () {
                                HandleIrrBankError('An error occurred', 'Please refresh the page and try again or contact the customer support.', 'error');
                            }
                        })
                    } else HandleIrrBankError('Fill all the required fields', '', 'info');
                }, 1200)
            })

            function FuncConfirmBankDeposit(bankElement) {
                let node = $(bankElement);
                let bankElementText = node.find('span');
                let bankElementTextUnchanged = bankElementText.html();
                const bankId = node.attr('data-send-to-bank');

                $('button[data-send-to-bank]').prop('disabled', true);

                const width = node.width();
                const height = node.height();
                bankElementText.fadeOut('fast', function () {
                    bankElementText.html('<div class="spinner mx-auto" style="border: 1px solid var(--primary); border-top-color: white;"></div>').fadeIn('slow');
                    node.width(width);
                    node.height(height);
                });

                setTimeout(function () {
                    $.ajax({
                        url: '@Url.Action("GetBankWithdrawCapturePage", "Banks", new { Area = "" })',
                        type: 'POST',
                        data: {
                            bankId: bankId
                        },
                        dataType: 'json',
                        headers: {
                            'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                        },
                        success: function (response) {
                            if (response.success === true) {
                                $('html').append(response.partialView);
                            } else {
                                if (response.redirectUrl) window.location.href = response.redirectUrl;
                                else {
                                    bankElementText.fadeOut('fast', function () {
                                        bankElementText.html('<i class="text-white fas fa-times no-tick"></i>').fadeIn('slow');
                                        toastr[response.severity](response.body, response.title);
                                    })
                                        .promise()
                                        .done(function () {
                                            setTimeout(function () {
                                                bankElementText.fadeOut('fast', function () {
                                                    $(this).html(bankElementTextUnchanged).fadeIn('slow');
                                                    $('button[data-send-to-bank]').prop('disabled', false);
                                                });
                                            }, 1300)
                                        })
                                }
                            }
                        },
                        error: function () {
                            bankElementText.fadeOut('fast', function () {
                                $(this).html('<i class="fas fa-times text-white no-tick"></i>').fadeIn('slow');
                                toastr['error']('Please refresh the page and try again or contact the customer support.', 'An error occurred');
                            })
                                .promise()
                                .done(function () {
                                    setTimeout(function () {
                                        bankElementText.fadeOut('fast', function () {
                                            $(this).html(bankElementTextUnchanged).fadeIn('slow');
                                            $('button[data-send-to-bank]').prop('disabled', false);
                                        });
                                    }, 1300)
                                })
                        }
                    })
                }, 1200)
            }

            $('.btn-close-irr-modal').click(function () {
                irrBankModal.modal('hide');
                $('#new-bank-currency-modal').modal('show');
            })

            function IrrElementIsValid(element) {
                return irrForm.validate().element($(element));
            }

            function IrrFormIsValid() {
                const firstNameValid = IrrElementIsValid(irrFirstName);
                const lastNameValid = IrrElementIsValid(irrLastName);
                const ibanValid = IrrElementIsValid(irrIban);

                return (firstNameValid && lastNameValid && ibanValid);
            };

            function EnableIrrInputs() {
                irrFirstName.prop('readonly', false);
                irrLastName.prop('readonly', false);
                irrIban.prop('readonly', false);

                btnSaveIrr.prop('disabled', false);
                irrTimes.prop('disabled', false);
                irrCancel.prop('disabled', false);
            }

            function DisableIrrInputs() {
                irrFirstName.prop('readonly', true);
                irrLastName.prop('readonly', true);
                irrIban.prop('readonly', true);

                btnSaveIrr.prop('disabled', true);
                irrTimes.prop('disabled', true);
                irrCancel.prop('disabled', true);
            }

            function HandleIrrBankError(title, body, severity) {
                btnSaveIrrText.fadeOut('fast', function () {
                    $(this).html('<i class="text-danger fas fa-times no-tick"></i>').fadeIn('slow');
                    toastr[severity](body, title)
                })
                    .promise()
                    .done(function () {
                        setTimeout(function () {
                            btnSaveIrrText.fadeOut('fast', function () {
                                $(this).html(btnSaveIrrTextUnchanged).fadeIn('slow');
                                EnableIrrInputs();
                            });
                        }, 1300)
                    })
            }
        })
    </script>)