<div id="cards-page-supported-countries-modal"
     data-toggle="modal"
     class="modal fade p-0"
     tabindex="-1"
     role="dialog"
     aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content border">
            <div class="modal-header border-bottom-0 pb-0">
                <h5 class="modal-title text-center mx-auto">Supported countries</h5>
                <button type="button" class="close m-0 p-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="fal fa-times fa-xs"></span>
                </button>
            </div>
            <div class="modal-body pb-0">
                @await Component.InvokeAsync("SupportedCountries") 
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const cardTypeModal3 = $('#card-type-modal');
        const supportedCountriesModal = $('#cards-page-supported-countries-modal');

        $('button[data-toggle="modal"]').click(function () {
            cardTypeModal3.modal('hide')
        })

        supportedCountriesModal.on('hide.bs.modal', function () {
            cardTypeModal3.modal('show');
        })
    })
</script>