<ul class="navbar-nav">
    <li class="nav-item">
        <form class="form-inline" asp-area="" asp-controller="Authorization" asp-action="SignOut" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link border-0 text-dark" id="btn-sign-out">Sign out</button>
        </form>
    </li>
</ul>
